.heading {
    color: darkblue;
    font-size: 15px;
    transition: all 0.5s ease;
    /*transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.4s;*/
}

.heading:hover {
    color: aqua;
    font-size: 20px;
    letter-spacing: 10px;
}